.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #262626;
	color: #7f7f7f;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: blue;
    padding: 5px 15px;
}

.navbar-light .navbar-toggler {
    border: none;
    color: cornflowerblue;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

.navbar-collapse {
    background: cornflowerblue;
}