<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>
    <header>
        <div class="logo">LSC</div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Recolectar LSC</a></li>
                <li><a href="">Recoletor Manos</a></li>
                <li><a href="">Nosotros</a></li>
            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </header>
</body>
</html>