<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Header -->
	  {% include "Navbar.html" %}
	  <!-- Header -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- CSS MAIN-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainEstilos.css')}}"/>
    <title>Recolector de Manos</title>
  </head>

  <body>
    
    
    


    <div class="container-fluid mt-4 mb-4  ">
      <div class="row">
        <div class="col-6">
          <div class="container-fluid" >
            <div class="row">
              <div class="col-12" >
                <center>
                  <video id="video"  class="video-element"></video>
                  <p id="duracion"></p>
                </center>
              </div>
              <div style="text-align: justify;">
                <center>
                <br>
                    La siguiente información sera recopilada con el objetivo de recoger suficente cantidad de imagenes de las manos,
                    en diferentes posiciones en la parte superior del tronco.
                <br>
              </center>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="col-6 ">
          <div class="container-fluid ">
            <div class="row">
              <div class="col-12 mb-2 pt-2 pb-4">
                <strong>Bienvenios al Recolector de posiciones de Manos de la Aunar.</strong>
              </div>
              <!--<div class="col-12">
                <img src=""   alt="..." id="imagecarousel">
              </div>
              -->
              <div class="col-6">
                <div id="carouselPoses" class="carousel slide" data-ride="carousel" data-pause="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/img/carouselhands/secuencia1/pose1.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose2.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose3.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose4.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose5.png"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose6.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose7.png"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose8.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose9.jpg"  alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="static/img/carouselhands/secuencia1/pose10.jpg"  alt="...">
                    </div>
                  </div>
                </div>
                
                  
                </div>
                <div class="col-6 " >
                  <p style="text-align: justify;">
                    
                    <strong>Recomendaciones para la correcta captura de datos:</strong>
                    <ul>
                      <li>familiarizar mediante la observacion de  las posiciones antes de empezar a grabar </li>
                      <li>Centre su cuerpo de tal forma que su tronco y manos sean visibles por la camara del computador</li>
                      <li>Si esta listo, empiece a grabar.</li>
                    </ul>
                  </p>
                  <br>
                  <p><strong><center>* La Aunar y el Grupo de investigación SESIA le agradece su participación. * </center></strong></p>
                  <br>
                  <center>
                    <button  class="btn btn-danger btn-lg " id="btnComenzarGrabacion">Comenzar ( Grabar ) </button>
                    <button  class="btn btn-secondary" id="btnDetenerGrabacion">Detener</button>
                  </center>
              </div>
              </div>
              
          </div>

        </div>
      </div>
    </div>
    
    
    

    



    



  
      
    <div class=" mt-4">
      {% include "Footer.html" %}
    </div>
    <!-- Footer -->
    
	  <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/static/js/video2.js"></script>
    <script src="/static/js/carousel.js"></script>

  </body>
</html>