<!DOCTYPE html>
<html>
<head>
    <title>Recoleccion Datos LSC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/estilosRecolectarLSC.css')}}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar-->
	
    <!-- Navbar -->
    
    <section class="header-background">
		<div>
			<h1 class="titulo">Recolección de Datos LSC</h1>
			<h2 class="subtitulo">Sitio Web diseñado para recolectar imágenes de las distintas <br>
				señas estáticas pertenecientes a las letras del abecedario LSC </h2>
		</div>
	</section>

	<!-- Footer -->
	
	<!-- Footer -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>